body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background-color: antiquewhite;
  color: #0f0f0f;
  transition: 0.3s;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  background: rgb(251, 231, 245);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
}

.input-group {
  display: flex;
  margin-top: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px 0 0 8px;
  border: 1px solid #ccc;
}

button {
  border: none;
  background: #e9443b;
  color: white;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
}

.filters {
  margin: 20px 0;
  text-align: center;
}

.filters button {
  margin: 0 5px;
  padding: 6px 12px;
  border-radius: 6px;
  background: #ddd;
  color: #333;
  cursor: pointer;
  border: none;
}

.filters .active {
  background: #f8614a;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #eee;
  margin: 10px 0;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body.dark li {
  background: #444;
}

li.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

#add-task-btn {
  background: #f4663f;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

body.dark .action-btns i {
    color: #eee;
}

.theme-toggle {
  text-align: right;
}